.container-cart{
  border: 1px solid #172270;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
  width: max-content;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.container-cart button{
  border: 1px solid #172270;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  width: 100px;
  height: 80px;
}

.title{
  margin: 20px;
}

.card{
  grid-row: 1/3;
}

.btn-add{
  background-color: #172170a8;
  color: white;
  font-size: 25px;
}

.btn-delete{
  background-color: rgb(129, 0, 0);
  color: white;
}

.btn-make-order{
  margin: 20px;
  padding: 30px;
  width: 200px;
  border: 1px solid #172270;
  border-radius: 50px;
  background-color:#172170a8;
  color: white;
}








